.go-fullscreen {
	top: 24px;
	left: 42px;
}

.exit-fullscreen {
	top: 36px;
	left: 30px;
}

.slide-background {
	background-size: contain !important;
	opacity: 0.1 !important;
	transition-duration: 1500ms !important; 
}

.slide-background .slide-background {
	opacity: 1 !important;
}

.reveal pre {
	background-color: transparent;
	border: 0;
	box-shadow: none;
}

.btn-default {
    text-shadow: none;
}

div.down-half, p.down-half {
    margin-top: 0.5em;
    display: inline-block;
}

.oldschool {
	font-family: "Courier New", monospace !important;
	font-weight: normal !important;
}

.reveal li pre {
    overflow: hidden;
    margin: 0;
    width: inherit;
}

.reveal li pre code {
    margin-top: -20px;
}