[submodule "msMozWebkit"]
	path = msMozWebkit
	url = git@github.com:stevedesmond-ca/msMozWebkit.js.git
[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:/twbs/bootstrap
[submodule "Font-Awesome"]
	path = Font-Awesome
	url = git@github.com:/FortAwesome/Font-Awesome
[submodule "github-api"]
	path = github-api
	url = git@github.com:/michael/github
[submodule "gifshot"]
	path = gifshot
	url = git@github.com:yahoo/gifshot.git
[submodule "fft-ocean"]
	path = fft-ocean
	url = git@github.com:jbouny/fft-ocean.git
